*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    overflow-y: scroll;

    --border-radius: 1.25rem;

    /* light mode (default) */
    --body-bg: #ccc;
    --body-fg: #000;
    --el-bg: #fff;
}

.darkmode {
    --body-bg: #333;
    --body-fg: #fff;
    --el-bg: #000;
}

:focus-visible {
    outline: 0.125rem solid orange;
    outline-offset: 0.1875rem;
}

body {
    font-size: clamp(1rem, 0.8995rem + 0.4673vw, 1.25rem);
    font-family: system-ui, sans-serif;
    background-color: var(--body-bg);
    color: var(--body-fg);
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    line-height: 1.5;
    margin-block-start: -1.25rem; /* counteracts margin block start on theme switcher */
}

h1 {
    font-weight: normal;
    font-size: clamp(1.75rem, 1.4486rem + 1.4019vw, 2.5rem);
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    max-width: 30ch;
}

h1,
p {
    text-wrap: pretty;
}

h2 {
    font-size: clamp(1.25rem, 1.1495rem + 0.4673vw, 1.5rem);
    text-align: center;

    &:empty {
        display: none;
        margin: 0;
    }
}

button,
input {
    font-size: inherit;
    font-family: inherit;
}

input {
    background-color: inherit;
    color: inherit;
    border-color: inherit;
}

a {
    color: var(--body-fg);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style-type: "";
    padding-inline-start: 0;

    & ul {
        padding-inline-start: 1.5rem;

        & ul {
            list-style-type: disc;
        }
    }
}

b {
    font-weight: 600;
}

code {
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
}

.container {
    /* Locally-scoped CSS variables */
    --_content-max-width: 81.25rem;
    --_content-space-outside: 2rem;

    width: min(var(--_content-max-width), 100% - var(--_content-space-outside) * 2);
    margin-inline: auto;
}

.flow > * + * {
    margin-block-start: 1em;
    /* em NOT rem & margin-block-start NOT margin-block-end */
}

.header,
.footer,
.element {
    background-color: var(--el-bg);
}

.header,
.footer {
    padding: 3rem 2rem;
    text-align: center;
}

.header {
    & p {
        margin-inline: auto;
    }
}
.footer {
    position: relative;
    bottom: -1.25rem;
    & a::after {
        content: " \27F6";
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-block: 3rem;
}

/* Theme */
.theme-toggler {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.3125rem 0.625rem;

    & button {
        font-size: clamp(0.875rem, 0.8248rem + 0.2336vw, 1rem);
        font-family: inherit;
        background-color: #0075ff;

        width: 1.5625rem;
        height: 0.8125rem;
        border-radius: var(--border-radius);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.125rem;

        & span {
            height: 0.8125rem;
            width: 0.8125rem;
            background-color: white;
            border-radius: 50%;
        }
    }

    & p {
        font-size: 0.875rem;
        font-weight: 600;
        color: var(--body-fg);
        &.light {
            opacity: 1;
        }

        &.dark {
            opacity: 0.5;
        }
    }
}

.darkmode {
    & .theme-toggler button {
        justify-content: flex-end;
    }

    & p {
        &.light {
            opacity: 0.5;
        }

        &.dark {
            opacity: 1;
        }
    }
}
/* End theme */

/** Skip link */
.skip-link {
    background-color: var(--body-bg);
    color: var(--body-fg);
    font-weight: 600;
    padding: 0.3125rem 0.625rem;
    margin-inline-end: 0.625rem;
}
.element-invisible {
    clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    &.element-focusable:active,
    &.element-focusable:focus {
        clip: auto;
        height: auto;
        overflow: visible;
    }
}

.visually-hidden {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip-path: inset(0);
    border: 0;
}
